/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background: #e8e9eb;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
  height: 10rem;
  border-bottom: 5px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.625rem;
  font-weight: 700;
  color: #e8e9eb;
}

.topics-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 8rem;
  padding: 10px;
  background: none;
  border: 3px solid #e8e9eb;
  border-radius: 8px;
  outline: none;
  color: #e8e9eb;
  font-size: 1.5rem;
  font-weight: 700;
}

.topics-button img {
  margin: 5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-articles {
  height: 100rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.latest-articles article {
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  color: #e8e9eb;
  padding: 4rem;
  padding-bottom: 0;
}

.profile-pic {
  min-height: 180px;
  min-width: 180px;
  margin: 40px;
  background: #746D69;
  border-radius: 7px;
  transform: rotate(-20deg);
}

.small-profile-pic {
  min-height: 50px;
  min-width: 50px;
  margin: 20px;
  margin-top: 0;
  background: #746D69;
  border-radius: 7px;
  transform: rotate(-20deg);
}

.article-profile-pic {
  border: 5px solid #e8e9eb;
  align-self: flex-start;
  margin-left: 0;
  margin-right: 1.5rem;
}

.details-container {
  padding: 1rem;
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.latest-articles article a {
  align-self: flex-start;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #e8e9eb;
  font-size: 1.3rem;
}

.latest-articles article a > h5 {
  height: auto;
  width: auto;
  margin-right: 0.4rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.latest-articles article a > span {
  font-weight: 300;
  color: #cccdc6;
}

.latest-articles .tags > span {
  margin: 2rem 2rem 2rem 0;
  color: #acada8;
}

.latest-articles .material-icons {
  justify-self: flex-end;
  align-self: flex-start;
  transform: scale(3,2);
  margin: 0;
  margin-top: 12rem;
  color: #acada8;
}

.latest-posts .material-icons {
  align-self: flex-start;
  transform: scale(3,2);
  margin: 0;
  margin-top: 6rem;
  color: #bbbcb6;
}

#middle-row {
  margin-top: 32rem;
}

.latest-posts {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.8fr 1.5fr 1fr;
  grid-gap: 2px;
}

.latest-posts article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.625rem;
  font-weight: 700;
  color: #746D69;
  padding: 3rem;
}

.latest-posts article h5 {
  font-size: 0.8rem;
  align-self: flex-start;
  color: #bbbcb6;
  margin-bottom: 1.5rem;
}

.latest-posts article h2 {
  margin-bottom: 2rem;
  text-decoration: underline;
}

.latest-posts article h4 {
  font-size: 1rem;
  align-self: flex-start;
  color: #bbbcb6;
  margin-bottom: 1.5rem;
}

.latest-posts article h4 a {
  color: inherit;
}

.latest-posts article p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 15rem;
  color: #bbbcb6;
}

.email-list {
  grid-column: 2/3;
}

.email-list-img {
  margin-bottom: 3rem;;
}

.email-list a{
  font-size: 3rem;
  color: #E8E9EB;
  margin-bottom: 2rem;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 2rem;
  width: auto;
  background: #e8e9eb;
  border: none;
  border-radius: 10px;
  outline: none;
  color: #746D69;
  font-size: 1rem;
  font-weight: 700;
}

.material-icons {
  justify-self: flex-end;
  margin-left: 20px;
}

.smashing-tv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 3rem;
  width: 90%;
  border-radius: 10px;
  margin: 10px auto;
  margin-bottom: 5rem;
}

.newsletter-img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 5px solid #e8e9eb;
  margin-top: 30px;
}

.smashing-tv-img {
  height: 12.5rem;
  width: 12.5rem;
}

.call-to-action-anchor {
  width: 40%;
  margin-top: 10rem;
  font-size: 3rem;
  font-weight: 700;
  color: #e8e9eb;
  text-decoration: underline;
}

#smashing-tv-anchor {
  margin-top: 3rem;
  color: #e8e9eb;
}

#smashing-tv-p {
  text-align: center;
  color: #acada8;
}

.sign-in {
  color: #acada8;
  margin-top: 1rem;
}

.more-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  color: #acada8;
  text-decoration: none;
  border-bottom: 3px solid #acada8;
}

.more-articles .material-icons {
  padding: 0;
  margin: 0;
}

.ethical-design {
  height: auto;
  margin: 5rem 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.pre-launch {
  color: #bbbcb6;
}

.bullet {
  margin: 0.8rem;
}

.extra-content a {
  color: #cccdc6;
  margin-top: 2rem;
}

.extra-content h3 {
  width: 50%;
  color: #e8e9eb;
  font-size: 3rem;
  font-weight: 700;
}

.extra-content p {
  width: 60%;
  margin-top: 20px;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-bottom: 40px;
  color: #bbbcb6;
}

.ethical-design-button {
  font-size: 1.2rem;
}

#Ethical-design-book {
  width: 60%;
  height: 400px;
  background: #746D69;
  border: 5px solid #E8E9EB;
  border-radius: 25px;
  margin-top: 4rem;
}

.community-links {
  display: grid;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr repeat(3, 1fr);
  grid-gap: 2px;
  margin-bottom: 5rem;
}

.community-links section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.community-links section > article {
  border: none;
}

.community-links section > article h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 2rem;
  color: #746D69;
}

.community-links section > article p {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #acada8;
}

#person-of-the-week {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#person-of-the-week > article {
  display: flex;
  flex-direction: column;
  border: none;
  margin: auto;
}

#person-of-the-week > article h2 {
  font-size: 1rem;
  color:   #746D69;
  margin-bottom: 2rem;
}

#person-of-the-week > article p {
  font-size: 1.2rem;
  line-height: 2rem;
} 

.design-systems {
  height: auto;
  margin: 10rem 0 10px;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr;
  padding: 4rem;
}

.design-systems article {
  display: flex;
  flex-direction: column;
}

.design-systems h3 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #cccdc6;
}

.design-systems a {
  margin-top: 1.5rem;
  color: #e8e9eb;
}

.design-systems p {
  width: 100%;
  font-size: 1.5rem;
  color: #acada8;
}

.design-systems-button {
  width: 20rem;
}

.design-systems-button span {
  font-size: 1.5rem;
}

.design-systems div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#design-systems-img {
  position: absolute;
  width: 60%;
  height: 100%;
  background: #746D69;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: -50%;
  bottom: 40%;
  left: 30%;
  transform: rotate(-20deg);
}

.curated-posts {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 95%;
  margin: 5px auto;
}

.curated-posts article {
  width: 25%;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#last-article {
  margin-right: 0;
}

.curated-posts article h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 2rem;
  color: #746D69;
}

.curated-posts article ul {
  list-style: disc inside;
  color: #acada8;
}

.curated-posts article li {
  margin: 1rem;
}

.curated-posts article a {
  color: inherit;
  font-size: 1.5rem;
}

.newsletter {
  height: auto;
  padding: 5rem;
  width: 90%;
  margin: 10px auto 5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter a {
  margin-top: 2rem;
  text-align: center;
  color: #e8e9eb;
}

.newsletter p {
  text-align: center;
  color: #cccdc6;
}

.newsletter form {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 40px;
}

.newsletter form input {
  height: 100%;
  border: none;
  outline: none;
  padding: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 15rem;
  padding-left: 10px;
  font-size: 20px;
}

.form-button {
  width: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
  box-shadow: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
  border-left: 1px solid #bbbcb6;
}

footer {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  margin-top: 5rem;
}

footer h3 {
  margin-bottom: 3rem;
  color: #e8e9eb;
  font-size: 1rem;
  font-weight: 700;
}


footer ul {
  display: flex;
  list-style: disc inside;
  flex-wrap:wrap;
  text-align: center;
  justify-content: center;
  color: #e8e9eb;
}

footer ul li {
  margin: 10px 5px;
  line-height: 30px;
}

footer ul li a {
  font-size: 2rem;
  color: #e8e9eb;
  text-decoration: none;
}

footer p {
  width: 35%;
  text-align: center;
  margin-top: 30px;
  color: #cccdc6;
  line-height: 2rem;
}

footer p a {
  color: #e8e9eb;
}

.footer-links {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.footer-links li a {
  font-size: 17px;
  text-decoration: underline;
  color: #acada8;
  font-weight: 500;
}

.dark-silver {
  background: #746D69;
}

.bright-gray {
  background: #E8E9EB;
}

.bright-gray article {
  border: 1px solid #746D69;
}

.silver-chalice {
  background: #ACADA8;
}

