/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
  height: 10rem;
  
}

main {
  display: flex;
  flex-direction: column;
}

section {
  height: 7rem;
}

.latest-articles {
  height: 80rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.latest-posts {
  height: 160rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1.5fr 1.2fr;
}

.latest-posts > article {
  border: 1px solid black;
}

.smashing-tv {
  height: 40rem;
  width: 90%;
  border-radius: 10px;
  margin: 10px auto;
}

.ethical-design {
  height: 40rem;
}

.community-links {
  display: grid;
  height: 80rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#person-of-the-week {
  grid-column: 1/-1;
}


.design-systems {
  height: 15rem;
}

.curated-posts {
  display: flex;
  flex-direction: row;
  height: 40rem;
  width: 95%;
  margin: 5px auto;
}

.curated-posts article {
  width: 25%;
}

.newsletter {
  height: 60rem;
  width: 90%;
  margin: 10px auto;
}

footer {
  height: 40rem;
}

.dark-silver {
  background: #746D69;
}